@import '_variables.sass';

.wrapper {
}
.resultReporter {
  position: fixed;
  z-index: 501;
  top: 0;
  right: 0;
  bottom: $menu-height;
  left: 0;
  background-color: red;
  background-color: hsl(0, 0%, 14%);
  padding: $vertical-padding;
  display: flex;
  flex-direction: column;
}

.closeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1 0 auto;
  .closeIcon {
    padding: 1rem;
    cursor: pointer;
  }
}

.reportButton {
  flex: 1;
  flex-basis: 100%;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
