@import '_variables.sass';

.wrapper {
  box-sizing: border-box;
  height: $menu-height;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 500;
  > div {
    flex: 1;
    height: 100%;
    display: flex;
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-out;
    }
  }
  &.dark {
    background-color: $grey-darker;
    > div {
      a {
        color: $grey-light;
        &.active {
          color: dodgerblue;
        }
      }
    }
  }
  &.light {
    background-color: #eee;
    > div {
      a {
        color: $grey-light;
        &.active {
          color: dodgerblue;
        }
      }
    }
  }
  &.aqua {
    background-color: red;
    > div {
      a {
        color: green;
        &.active {
          color: dodgerblue;
        }
      }
    }
  }
}
