@import '_variables.sass';
@mixin placeholder {
  input::-webkit-input-placeholder {
    @content;
  }
  input:-moz-placeholder {
    @content;
  }
  input::-moz-placeholder {
    @content;
  }
  input:-ms-input-placeholder {
    @content;
  }
}
.wrapper {
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  padding-top: 0;
  padding-bottom: 0;
  &.dark {
    color: white;
    background-color: hsl(0, 0%, 14%);
    @include placeholder {
      color: hsl(0, 0%, 30%);
    }
    input[type='text'],
    select {
      color: white;
      background-color: #333;
      border: 1px solid #555;
    }
    label {
      color: hsl(0, 0%, 50%);
    }
  }

  &.light {
    color: black;
    background-color: white;
  }

  &.aqua {
    color: white;
    background-color: lightseagreen;
  }
}

.container {
  padding-top: $vertical-padding;
  padding-bottom: calc(#{$vertical-padding} + #{$menu-height});
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
