@import '_variables.sass';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .table {
    color: $grey-light;
  }
}

.result {
}
.win {
  color: $success;
}
.loss {
  color: $danger;
}
