@import '~bulma/sass/utilities/initial-variables.sass'

// ADD HERE variables you want to override
$gray: #f4f4f4
$dark-gray: #3b3b3b;
$menu-height: 3rem;
$vertical-padding: 2rem;


@import '~bulma/sass/utilities/_all.sass'
@import '~bulma/sass/base/_all.sass';